{% extends "global/Page.html" %}
{% block title %}{% endblock %}

{% block content %}
<h2>Additional Money</h2>
<ul>
    <li>If your investment is successful, you earn six times the amount invested. </li>
    <li>If your investment is unsuccessful, you will lose your investment.</li>
    <li>Money not invested in each round is added to your earnings.</li>
    <li>Your earnings will be reported at the end of each round.</li>
    <li>At the end of the first part, your total result will be calculated.</li>
</ul>

<h2>For example,</h2>

    <li>For example, say you invested 50 cents, and your success number was 4. </li>

If your die roll was four, then you will earn $3.00 from your successful investment and the 50 cents you did not invest.

Alternatively, if your die roll was not four, then you would only earn the 50 cents you did not invest.
Note that investment amounts are restricted to 25-cent increments.


{% next_button %}
{% endblock %}