{% extends "global/Page.html" %}
{% block title %}{% endblock %}

{% block content %}

<h2>For example,</h2>

    <li>Let's say you invested 50 cents, and your success number was 4. </li>

If your die roll was 4, then you will earn $3.00 (0.5*6) from your successful investment PLUS the 50 cents you did not invest (1-0.5).

<li>Alternatively, if your die roll was not 4, </li>
then you would only earn the 50 cents you did not invest.

Note that investment amounts are restricted to 25-cent increments.

Click next button when you are ready to start.

{% next_button %}
{% endblock %}