{% extends "global/Page.html" %}
{% load otree static %}
{% load custom_filters %}

{% block title %}
Group Earnings Summary
{% endblock %}

{% block content %}

<h3>Total group earnings: <strong id="totalGroupEarnings">{{ total_group_earnings }}</strong></h3>
<h3>Individual earnings: <strong id="individualEarnings"></strong></h3>
<hr style="border-top: 1px solid #ccc; margin: 20px 0;">

<h3>Raise your hand to exchange your investment amount. If your investment amount is negative, you have to pay the cashier. If it's positive, you will be paid.</h3>

<input type="text" name="close_field" id="id_close_field">

<div id="next-button-container" style="display: none;">
    {% next_button %}
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        function formatAmount(element) {
            var amountText = element.innerText;
            var numericValue = amountText.replace(/[^\d.-]/g, '');
            var formattedValue = parseFloat(numericValue).toFixed(2);
            element.innerText = '$' + formattedValue;

            // Set color based on value
            if (parseFloat(formattedValue) >= 0) {
                element.style.color = 'blue';
            } else {
                element.style.color = 'red';
            }
        }

        var groupEarningsElement = document.getElementById('totalGroupEarnings');
        formatAmount(groupEarningsElement);

        var groupEarnings = parseFloat(groupEarningsElement.innerText.replace('$', ''));
        var individualEarnings = groupEarnings / 2;

        var individualEarningsElement = document.getElementById('individualEarnings');
        individualEarningsElement.innerText = '$' + individualEarnings.toFixed(2);

        // Set color for individual earnings
        if (individualEarnings >= 0) {
            individualEarningsElement.style.color = 'blue';
        } else {
            individualEarningsElement.style.color = 'red';
        }


       var closeField = document.getElementById('id_close_field');
        var nextButtonContainer = document.getElementById('next-button-container');

        closeField.addEventListener('input', function() {
            if (this.value === '1') {
                nextButtonContainer.style.display = 'block';
            } else {
                nextButtonContainer.style.display = 'none';
            }
        });
    });
</script>

{% endblock %}