{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}

<div class="card bg-light m-3">
    <div class="card-body">
        <h3>You have completed all group investment rounds.</h3>
<h3>If you're ready to see your final investment earnings, please proceed to the next page.</h3>

    </div>
</div>

{% next_button %}

{% endblock %}

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    var earningsElement = document.getElementById('fourth_round_earnings');
    var groupEarnings = parseFloat(earningsElement.textContent.replace(' puntos', ''));
    earningsElement.textContent = '$' + groupEarnings.toFixed(2);

    var individualEarningsElement = document.getElementById('individual_earnings');
    var individualEarnings = groupEarnings / 2; // Assuming 2 players per group
    individualEarningsElement.textContent = '$' + individualEarnings.toFixed(2);
});
</script>
{% endblock %}