{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}How to earn money{% endblock %}

{% block content %}
<ul>
    <li>Your group will have a shared success number for each round.</li>
    <li>Participants will equally share the profits or losses that your group achieves from the investment.</li>
    <li>Both partners must agree on the investment amount to continue.</li>
    <li>Remember that effective communication and mutual agreement are key to successful group decisions.</li>
</ul>

{% next_button %}
{% endblock %}