{% extends "global/Page.html" %}
{% load otree static %}
{% load custom_filters %}

{% block title %}{% endblock %}

{% block content %}
    <h3>Your total earnings are: <span style="color: blue; font-weight: bold;" id="totalEarnings">${{ total_earnings }}</span></h3>
    <hr style="border-top: 1px solid #ccc; margin: 20px 0;">
    <h3>Please raise your hand in order to transfer your final investment earnings.</h3>
<h3> If your investment amount is negative, you have to pay the cashier. If it's positive, you will be paid.</h3>

    {% formfield 'close_field' label="" %}

    <div id="next-button-container" style="display: none;">
        {% next_button %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            function formatAmount(element) {
                var amountText = element.innerText;
                var numericValue = amountText.replace(/[^\d.-]/g, '');
                var formattedValue = parseFloat(numericValue).toFixed(2);
                element.innerText = '$' + formattedValue;
            }

            var totalEarningsElement = document.getElementById('totalEarnings');
            formatAmount(totalEarningsElement);

            var closeField = document.getElementById('id_close_field');
            var nextButtonContainer = document.getElementById('next-button-container');

            closeField.addEventListener('input', function() {
                if (this.value === '1') {
                    nextButtonContainer.style.display = 'block';
                } else {
                    nextButtonContainer.style.display = 'none';
                }
            });
        });
    </script>
{% endblock %}