{% extends "global/Page.html" %}
{% load otree static %}
{% load custom_filters %}

{% block title %}
   Individual Round {{ round_number }} of {{ total_rounds }}
{% endblock %}

{% block content %}
<h3>You decided to invest: <span style="color: blue; font-weight: bold;" id="investment">{{ investment }}</span></h3>
<h3>Your success number is: <span style="color: blue; font-weight: bold;">{{ success_number }}</span></h3>
<h3>You got: <span style="color: {% if success %}green{% else %}red{% endif %}; font-weight: bold;">{{ dice_roll }}</span></h3>

<hr style="border-top: 1px solid #ccc; margin: 20px 0;">
{% if success %}
    <h3>Investment result: <span style="color: green; font-weight: bold;">Success</span></h3>
{% else %}
    <h3>Investment result: <span style="color: red; font-weight: bold;">Failure</span></h3>
{% endif %}

<hr style="border-top: 1px solid #ccc; margin: 20px 0;">

<h3>Your earnings for this round: <span style="color: {% if success %}green{% else %}red{% endif %}; font-weight: bold;" id="earnings">{{ earnings }}</span></h3>

<p id="timer-message" style="display: none;"> We are calculating your total earnings. Please wait: (<span id="countdown">5</span>)</p>

<div id="next-button-container">
    <button id="next-button" class="otree-btn-next btn btn-primary">Next</button>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var investmentElement = document.getElementById('investment');
        var earningsElement = document.getElementById('earnings');
        var nextButton = document.getElementById('next-button');
        var timerMessage = document.getElementById('timer-message');
        var countdownElement = document.getElementById('countdown');

        investmentElement.textContent = '$' + investmentElement.textContent;
        earningsElement.textContent = '$' + earningsElement.textContent;

        nextButton.addEventListener('click', function(event) {
            event.preventDefault();
            this.disabled = true;
            timerMessage.style.display = 'block';
            var secondsLeft = 5;
            var countdownTimer = setInterval(function() {
                secondsLeft--;
                countdownElement.textContent = secondsLeft;
                if (secondsLeft <= 0) {
                    clearInterval(countdownTimer);
                    document.querySelector('form').submit();
                }
            }, 1000);
        });
    });
</script>
{% endblock %}